.header{
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-block: fluid(22, 14);
  border-bottom: var(--border-width-s) solid transparent;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;



  @keyframes scrolling-header {
    to{
      padding-block: 10px;
      background-color: var(--color-black-08);
      border-color: var(--color-black-15);
    }
  }

  &__overlay-menu-dialog{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-20);
    border: none;
    padding: var(--container-padding-x);
    row-gap: 16px;
    justify-content: start;
    flex-direction: column-reverse;
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;


    @include tablet-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    &[open]{
      display: flex;

      @starting-style {
        @include starting-styles;
      }
    }

    &:not([open]){
      @include starting-styles;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
  }

  &__menu {
    background-color: var(--color-black-06);


    @include laptop {
      border-radius: var(--border-radius-m);
    }

    @include tablet-above {
      padding: fluid-to-laptop(10, 8);
      outline: var(--border-width-l) solid var(--color-black-12);
      border-radius: var(--border-radius-l);
    }

    @include tablet {
      display: flex;
      justify-content: center;
      height: 100%;
      border-radius: 0;
      background-color: transparent;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 6px;

      @include tablet {
        flex-direction: column;
        row-gap: 16px;
        margin-block: auto;
      }
    }

    &-link {
      padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
      color: var(--color-gray-75);
      border-radius: var(--border-radius-s);

      @include tablet {
        font-size: 20px;
      }

      @include hover {
        color: var(--color-white);
        background-color: var(--color-red-60);
      }

      &.is-active {
        font-weight: 500;
        color: var(--color-white);
        background-color: var(--color-black-10);
        pointer-events: none;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__burger-button {
    position: relative;
  }
}